<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Clientes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    {% include 'index.html' %}
    <div class="perfilContainer">
        <h1 class="title">Clientes Almacenados</h1>
        <div class="datosPerfil1">
            <h2 class="label">Listado De Clientes</h2>
            <table class="table">
                <thead>
                    <tr class="encabezado">
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>NIT</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                    <tr class="tabla">
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.apellido }}</td>
                        <td>{{ cliente.correo }}</td>
                        <td>{{ cliente.nit }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>